#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#header{
    font-family: var(--titleFont);
    grid-column: 1/3;
    grid-row: 1/2;
}

#header h3{
    color: rgba(0,0,0,0.5);
}

#header img{
    width: 300px;
    height: 150px;
}

.container{
    margin: 10px;
    margin-top: 20px;
    border-radius: 26px;
    background: #ffffff;
    box-shadow:  5px 5px 13px #7a7a7a,
                -5px -5px 13px #ffffff;
}

.container fieldset{
    margin: 10px;
    border-color: #7a7a7a;
    border-radius: 20px;
}